@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

body{
    background-color: powderblue;
    text-align: center;
    font-family: 'Merriweather', serif;
}

div{
    width: 500px;
    height: 200px;
    margin-top: 200px;
    margin-left: 500px;
    background-color: lavender;
    border-radius: 20px;
}

